/* COMMON */
body {
	font-family: 'Open Sans';
}
ul {
	list-style: none;
	padding: 0;
}
h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ffed00;
	font-weight: 300;
}
a {
	color: white;
}
a:hover {
	text-decoration: none;
	color: #ffed00;
	transition: ease-out 0.2s;
}

/* NAVBAR */
nav {
	background-color: black;
}
.nav-item {
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.nav-games a, .nav-games a:hover {
	color: #50b85e;
}
.nav-about a, .nav-about a:hover {
	color: #ffed00;
}
.nav-contact a, .nav-contact a:hover {
	color: #e6007e;
}

/* HOME PAGE*

	/* CAROUSEL */
	.carousel-caption {
		top: 35%;
		right: 10%;
		text-align: right !important;
		letter-spacing: 2px;
	}
	.carousel a {
		font-weight: bold;
	}

/* GAMES PAGES */

.card h4 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ffed00;
	font-weight: 300;
	font-size: 1.2rem;
}
.card-header {
	padding-bottom: 0;
}
.card-body {
	padding-top: 0;
}
.card-body img {
	padding-bottom: 10px;
}
.team button {
	width: 100%;
}


/* ABOUT PAGE */
.aboutText {
	height: 100%;
	margin-top: 50px;
	text-align: justify;
}

	/* TEAM LIST */
	.team li {
		list-style: none;
		display: inline-block;
		margin: 3%;
		color: #ffed00;
	}
	.style_prevu_kit:hover {
	    box-shadow: 0px 0px 10px #000000;
	    z-index: 2;
	    -webkit-transition: all 200ms ease-in;
	    -webkit-transform: scale(1);
	    -ms-transition: all 200ms ease-in;
	    -ms-transform: scale(1);   
	    -moz-transition: all 200ms ease-in;
	    -moz-transform: scale(1);
	    transition: all 200ms ease-in;
	    transform: scale(1.3);
	}
	.imgTeam{
		width: 150px;
		height: 150px;
	}
	.team .card {
		padding: 5px;
		background-color: black;
	}

.frMap {
	max-width: 75%;
	height: auto;
}

/* CONTACT PAGE */
textarea {
	width: 100%;
	resize: none;
}
.contactForm {
	text-align: justify;
	margin-top: 20px;
}
.btn-dark {
	text-align: center;
	border-color: #e6007e;
	width: 25%;
}
input, textarea {
	border-color: #e6007e;
	border-radius: 10px;
	box-shadow: none;
	margin-bottom: 10px;
}

/* FOOTER */
.footer img {
	max-width: 50%;
	text-align: center;
}
.footer {
	padding: 20px;
	background-color: black;
}
.footer h2 {
	text-transform: uppercase;
	font-size: 1.25rem;
	letter-spacing: 1px;
	color: #ffed00;
	font-weight: 300;
}
.footer-mention {
	font-size: 0.8em;
	width: 100%;
	text-align: center;
	color: grey;
}


/* ANIMATIONS */

	/* Underline From Center
	Credits to IanLunn https://github.com/IanLunn/Hover */
	.hvr-underline-from-center {
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  position: relative;
	  overflow: hidden;
	}
	.hvr-underline-from-center:before {
	  content: "";
	  position: absolute;
	  z-index: 10;
	  left: 51%;
	  right: 51%;
	  bottom: -2px;
	  background: #ffed00;
	  height: 2px;
	  -webkit-transition-property: left, right;
	  transition-property: left, right;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}
	.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	  left: 0;
	  right: 0;
	}

		/* SPECIFIC */
		.nav-games .hvr-underline-from-center:before {
			background: #50b85e;
			bottom: 0;
		}
		.nav-about .hvr-underline-from-center:before {
			background: #ffed00;
			bottom: 0;
		}
		.nav-contact .hvr-underline-from-center:before {
			background: #e6007e;
			bottom: 0;
		}


/* RESPONSIVE */

	/* Small devices (landscape phones, less than 768px) */
	@media (max-width: 991.98px) {
		.carousel-caption {
			top: -10px;
		}
		.imgTeam {
			max-width: 150px;
			height: auto;
		}
		.footer {
			text-align: center;
		}
	}

	/* Medium to large devices (tablets, desktops) */
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.navbar-brand {
			max-width: 50%;
		}
		.navbar-brand img {
			width: 100%;
			height: auto;
		}
		.carousel-caption {
			top: 50%;
		}
		.footer-img {
			max-height: 90px;
			width: auto;
		}
	}